<div class="card card-compact bg-base-100 shadow-xl mt-4">
  <figure class="h-44"><img class="object-cover" src="{{blog.image}}" alt="Shoes" /></figure>
  <div class="card-body">
    <div class="flex gap-2 content-center py-2 border-b">
      <div class="avatar placeholder">
        <div class="bg-neutral text-neutral-content rounded-full w-6">
          <span class="text-md">{{blog?.userName.name[0]}}</span>
        </div>
      </div>
      <span>{{blog?.userName.name}}</span>
      <span class="text-gray-500">{{formatDate(blog?.createdAt)}}</span>
    </div>
    <a
        [routerLink]="['/detailpage', blog._id]"
        class="w-full hover:text-inherit"
      >
    <h2 class="card-title">{{blog?.title}}</h2>
    <p class="line-clamp-3">{{summary}}</p>
    </a>
    <div class="flex justify-between content-center">
      <span class="my-auto ml-2 font-sans text-xs text-gray-700"
          >{{calculateReadingTime(summary)}}</span
        >
        <div class="my-auto">
          <mat-icon
          class="cursor-pointer"
          [ngClass]="isSaved ? 'text-gray-600' : 'text-gray-400'"
          (click)="onSave()"
          >{{ isSaved ? "bookmark" : "bookmark_outline" }}</mat-icon
        >
        </div>  
    </div>
  </div>
</div>
