<mat-toolbar class="medium-navbar">
  <div class="containerr container">
    <a routerLink="/" class="logo pe-2">VoxVortex</a>
    <div class="division">
      <div class="search-bar">
        <input matInput placeholder="Search VoxVortex" class="search-input">
        <mat-icon class="search-icon">search</mat-icon>
      </div>
      <div class="flex-1"></div>
      <div class="nav-content">
        <div class="nav-links">
          <a mat-button routerLink="/write" class="nav-link">Write</a>
        </div>
        <div class="user-actions" *ngIf="!authenticated">
          <a class="btn btn-outline-light sign-in-button" routerLink="/register">Sign Up</a>
          <a class="btn btn-success sign-in-button text-white" routerLink="/login">Sign In</a>
        </div>
        <div class="profile flex justify-between items-center gap-3" *ngIf="authenticated">
          <a routerLink="/chat" class="profile-link">
            <mat-icon class="profile-icon">chat</mat-icon>
          </a>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class=""><mat-icon class="profile-icon">account_circle</mat-icon></div>
            <ul tabindex="0" class="dropdown-content z-[99] menu p-2 shadow bg-base-100 rounded-box w-52">
              <li><a routerLink="/profile">Profile</a></li>
              <li><a routerLink="/upgrade">Upgrade</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>