<div
  class="sm:mt-3 md:mt-4 lg:mt-5 rounded-md border border-gray-400 py-3 px-4"
>
  <div class="w-full flex-row">
    <div class="flex gap-2 content-center py-2 border-b">
      <!-- <div class="w-6 h-6 rounded-full bg-red-600 overflow-hidden">
        
      </div> -->
      <div class="avatar placeholder">
        <div class="bg-neutral text-neutral-content rounded-full w-6">
          <span class="text-md">{{ blog?.userName.name[0] }}</span>
        </div>
      </div>
      <span>{{ blog.userName.name }}</span>
      <span class="text-gray-500">{{ formatDate(blog?.createdAt) }}</span>
    </div>
    <div class="flex justify-between mt-2">
      <a
        [routerLink]="['/detailpage', blog._id]"
        class="w-full hover:text-inherit"
      >
        <div>
          <h2>{{ blog?.title }}</h2>
          <p class="line-clamp-4">{{ summary }}</p>
        </div>
      </a>
      <div class="w-24 h-24 overflow-hidden">
        <img
          class="w-24 h-24 object-cover"
          src="{{ blog.image }}"
          alt="img"
        />
      </div>
    </div>
    <div class="flex justify-between content-center">
      <div class="flex content-center">
        <a
          class="bg-gray-100 border py-2 px-3 rounded-lg hover:bg-slate-200 transition duration-300 cursor-pointer"
          [href]="'/topic/'+blog?.label._id"
        >
          {{ blog.label.label }}
        </a>
        <span class="my-auto ml-2 font-sans text-xs text-black">{{
          calculateReadingTime(summary)
        }}</span>
      </div>
      <div class="my-auto">
        <mat-icon
          class="cursor-pointer"
          [ngClass]="isSaved ? 'text-gray-600' : 'text-gray-400'"
          (click)="onSave()"
          >{{ isSaved ? "bookmark" : "bookmark_outline" }}</mat-icon
        >
      </div>
    </div>
  </div>
</div>
