<a routerLink="/detailpage" class="hover:text-inherit">
  <div class="sm:mt-3 md:mt-4 lg:mt-5 rounded-md border border-gray-400 py-3 px-4">
    <div class="w-full flex-row">
      <div class="flex gap-2 content-center py-2 border-b">
        <div class="w-6 h-6 rounded-full bg-red-600 overflow-hidden">
          <!-- profile image -->
        </div>
        <span>Unais EK</span>
        <span>Oct 17</span>
      </div>
      <div class="flex justify-between mt-2">
        <div class="w-full">
          <h2>Back-End & Web Development Trends For 2024</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eveniet voluptates quaerat pariatur ducimus, fuga, ipsam nam aspernatur necessitatibus enim iusto nihil sunt eligendi, laboriosam odit similique animi incidunt? Cupiditate!</p>
        </div>
        <div class="w-24 h-24 overflow-hidden bg-yellow-400">
          <!-- image -->
        </div>
      </div>
      <div class="flex justify-between content-center">
        <div class="flex content-center">
          <button class="bg-gray-100 border py-2 px-3 rounded-lg hover:bg-slate-200 transition duration-300">Backend Developemnt</button>
          <span class="my-auto ml-2 font-sans text-xs text-black">9 min read</span>
        </div>
        <div class="my-auto">
          <mat-icon>bookmark</mat-icon>
        </div>
      </div>
    </div>
  </div>
</a>
