<div
  class="sm:mt-3 md:mt-4 lg:mt-5 rounded-md border border-gray-400 py-3 px-4"
>
  <div class="w-full flex-row">
    <div class="flex gap-2 content-center py-2 border-b">
      <div class="w-6 h-6 rounded-full bg-red-600 overflow-hidden">
        <!-- profile image -->
      </div>
      <span>{{ blog.userName.name }}</span>
      <span>Oct 17</span>
    </div>
    <div class="flex justify-between mt-2">
      <a [routerLink]="['/detailpage',blog._id]" class="w-full hover:text-inherit">
        <div>
          <h2>{{ blog?.title }}</h2>
          <p class="line-clamp-4">{{ summary }}</p>
        </div>
      </a>
      <div class="w-24 h-24 overflow-hidden">
        <img
          class="w-24 h-24 object-cover"
          src="{{ '../../../../../../assets/public/BlogImages/' + blog.image }}"
          alt="img"
        />
      </div>
    </div>
    <div class="flex justify-between content-center">
      <div class="flex content-center">
        <button
          class="bg-gray-100 border py-2 px-3 rounded-lg hover:bg-slate-200 transition duration-300"
        >
          {{ blog.label.label }}
        </button>
        <span class="my-auto ml-2 font-sans text-xs text-black"
          >9 min read</span
        >
      </div>
      <div class="my-auto">
        <mat-icon>bookmark</mat-icon>
      </div>
    </div>
  </div>
</div>
