<app-usernav></app-usernav>
<div class="container xl:px-60 lg:px-20 md:px-10 sm:px-4 px-2">
  <div class="text-center mt-8">
    <!-- avatar -->
    <div class="avatar placeholder mb-4">
      <div class="bg-neutral text-neutral-content rounded-full w-36">
        <span class="text-6xl">{{ profileData?.name[0] }}</span>
      </div>
    </div>
    <!-- Name -->
    <!-- <h1 class="text-2xl font-bold mb-2">John Doe</h1> -->
    <div class="flex flex-col justify-center items-center gap-4">
      <span
        class="text-3xl md:text-5xl lg:text-5xl xl:text-5xl 2xl:text-5xl font-sans font-semibold text-center text-gray-800"
        >{{ profileData?.name }}</span
      >
      <div>
        <button
          class="btn bg-white hover:bg-white hover:border-black border-black/50 px-3"
          (click)="onEdit()"
        >
          <mat-icon>edit</mat-icon>
          <span class="text-black font-sans">Edit profile</span>
        </button>

        <button
          class="btn bg-white hover:bg-white hover:border-black border-black/50 px-3 ml-1"
          (click)="onPlanSetting()"
          *ngIf="profileData?.is_premium"
        >
          <mat-icon>workspace_premium</mat-icon>
          <span class="text-black font-sans">Plan Setting</span>
        </button>

        <!-- plan setting modal -->
        <dialog id="plan_setting_modal" class="modal" *ngIf="profileData?.is_premium">
          <div
            class="modal-box"
          >
            <span class="font-bold text-lg text-center">Plan Setting</span>
            <form method="dialog">
              <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
              >
                ✕
              </button>
            </form>
            <div class="modal-action flex justify-center">
              <!-- Current Plan -->
              <div class="rounded-lg border border-gray-200 p-4 w-full">
                <h2 class="text-lg font-semibold mb-2">Current Plan</h2>
                <div class="flex items-center justify-between">
                  <span class="text-gray-600">Your Current Plan:</span>
                  <span class="text-gray-800 font-bold">{{planDetails?.name}}</span>
                </div>
                <div class="flex items-center justify-between">
                  <span class="text-gray-600">Period:</span>
                  <span class="text-gray-800 font-bold">{{planDetails?.period}}</span>
                </div>
                <div class="flex items-center justify-between">
                  <span class="text-gray-600">Amount:</span>
                  <span class="text-gray-800 font-bold">{{planDetails?.amount}}</span>
                </div>
                <div class="flex items-center justify-between mt-2">
                  <span class="text-gray-600">Plan Details:</span>
                  <span class="text-gray-800">{{planDetails?.description}}</span>
                </div>
                <div class="text-end mt-2">
                  <button class="btn btn-sm bg-red-500 hover:bg-red-600 text-white mt-2" (click)="onCancelSub()">
                    Cancel Subscription
                  </button>
                </div>
              </div>
              

            </div>
          </div>
        </dialog>

        <!-- edit profile modal -->
        <dialog id="edit_profile_modal" class="modal">
          <div
            class="modal-box sm:w-11/12 md:w-11/12 lg:w-1/2 xl:w-1/2 2xl:w-1/2 max-w-5xl"
          >
            <span class="font-bold text-lg text-center">Edit profile</span>
            <form method="dialog">
              <button
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
              >
                ✕
              </button>
            </form>
            <div class="modal-action flex justify-center">
              <form
                class="w-[80%]"
                [formGroup]="profileForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="space-y-8 md:space-y-12">
                  <div
                    class="mt-5 grid grid-cols-1 gap-x-6 gap-y-3 md:grid-cols-2"
                  >
                    <div
                      class="col-span-full flex flex-col justify-center items-center"
                    >
                      <div class="items-center gap-x-3">
                        <div class="avatar placeholder">
                          <div
                            class="bg-neutral text-neutral-content rounded-full w-24"
                          >
                            <span class="text-3xl">U</span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-span-full">
                      <label
                        for="userName"
                        class="text-start block text-sm font-semibold leading-6 text-gray-900"
                        >Username</label
                      >
                      <div class="mt-2.5">
                        <input
                          type="text"
                          formControlName="name"
                          id="userName"
                          class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        />
                        <div
                          *ngIf="name?.errors?.['required'] && (name?.touched || name?.dirty)"
                          class="text-red-500 text-xs italic mt-1 text-start"
                        >
                          name is required
                        </div>
                      </div>
                    </div>

                    <div class="col-span-full">
                      <label
                        for="mobile"
                        class="text-start block text-sm font-semibold leading-6 text-gray-900"
                        >Mobile</label
                      >
                      <div class="mt-2.5">
                        <input
                          type="number"
                          id="mobile"
                          formControlName="mobile"
                          class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        />
                        <div
                          *ngIf="mobile?.errors?.['required'] && (mobile?.touched || mobile?.dirty)"
                          class="text-red-500 text-xs italic mt-1 text-start"
                        >
                          mobile is required
                        </div>
                      </div>
                    </div>

                    <div class="col-span-full">
                      <label
                        for="email"
                        class="text-start block text-sm font-semibold leading-6 text-gray-900"
                        >Email</label
                      >
                      <div class="mt-2.5">
                        <input
                          type="email"
                          id="email"
                          formControlName="email"
                          class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="mt-6 flex flex-col md:flex-row items-center justify-end gap-x-6"
                >
                  <button
                    type="submit"
                    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </dialog>
      </div>
    </div>

    <div class="flex mt-5 gap-3 justify-center">
      <div class="md:px-4 lg:px-6 justify-center flex flex-col">
        <span class="font-sans font-normal text-sm text-gray-700 text-center"
          >Blogs</span
        >
        <button
          class="btn hover:bg-white border-none text-xs font-thin bg-white"
        >
          <span class="font-sans font-normal text-lg">{{
            profileData?.blogs.length
          }}</span>
        </button>
      </div>

      <div class="md:px-4 lg:px-6 justify-center flex flex-col">
        <span class="font-sans font-normal text-sm text-gray-700 text-center"
          >Followers</span
        >
        <button
          class="btn hover:bg-white border-none text-xs font-thin bg-white"
          onclick="followers_modal.showModal()"
        >
          <span class="font-sans font-normal text-lg">{{
            profileData?.followers.length
          }}</span>
        </button>
        <app-list-modal
          [title]="'Followers'"
          [userData]="folowers"
          [id]="'followers_modal'"
        ></app-list-modal>
      </div>

      <div class="md:px-4 lg:px-6 justify-center flex flex-col">
        <span class="font-sans font-normal text-sm text-gray-700 text-center"
          >Followings</span
        >
        <button
          class="btn hover:bg-white border-none text-xs font-thin bg-white"
          onclick="following_modal.showModal()"
        >
          <span class="font-sans font-normal text-lg">{{
            profileData?.following.length
          }}</span>
        </button>
        <app-list-modal
          [title]="'Followings'"
          [userData]="followings"
          [id]="'following_modal'"
        ></app-list-modal>
      </div>
    </div>
  </div>

  <div>
    <!-- my blogs -->
    <!-- saved -->
    <div class="flex px-6 justify-center">
      <div>
        <ul class="flex flex-wrap text-sm font-medium text-center text-black">
          <li class="me-2">
            <a
              href="/profile/blog-list"
              class="inline-block py-2 px-7 rounded-2xl"
              [ngClass]="isSaved ? 'text-black' : ' bg-black text-white'"
            >
              Blogs
            </a>
          </li>
          <li class="me-2">
            <a
              href="/profile/saved"
              class="inline-block py-2 px-7 rounded-2xl text-black"
              [ngClass]="!isSaved ? 'text-black' : ' bg-black text-white'"
            >
              Saved
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="px-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
