<app-usernav></app-usernav>
<div class="container mx-auto mt-8">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div class="col-span-1">
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-xl font-bold mb-4">{{ title }}</h2>
        <img [src]="image" [alt]="image" class="mb-4 rounded-lg shadow-md">
        <quill-view-html [content]="content" theme="snow"></quill-view-html>
      </div>
    </div>
    <div class="col-span-1">
      <div class="bg-white rounded-lg shadow-md p-6">
        <p class="text-lg font-bold mb-4">Add Label</p>
        <select class="select select-ghost w-full max-w-xs mb-4" [(ngModel)]="labelId">
          <option disabled selected>Pick a suitable label for your post</option>
          <option *ngFor="let label of Labels" [value]="label._id">{{ label.label }}</option>
        </select>
        <div class="flex justify-start">
          <button (click)="onSubmit()" class="bg-green-500 hover:bg-green-700 rounded-md py-2 px-4 text-white font-semibold">Publish Now</button>
        </div>
      </div>
    </div>
  </div>
</div>