<app-usernav></app-usernav>
<div class="lg:px-60">

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
    <mat-tab-group class="col-span-2">
      <mat-tab label="home">

        <app-blog-card *ngFor="let blog of Blogs" [blog]="blog" ></app-blog-card>
        <!-- <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card> -->

      </mat-tab>
      <mat-tab label="following"> content of following </mat-tab>
      <mat-tab label="recommended"> Content of recommended </mat-tab>
    </mat-tab-group>
    <div class="col-span-1 px-5 pt-2">
      <span>Recommeended Topics</span>
      <div class="flex flex-wrap mt-3">
        <button class="btn btn-default rounded-lg">React</button>
        <button class="btn btn-default rounded-lg">Angular</button>
        <button class="btn btn-default rounded-lg">DevOps</button>
        <button class="btn btn-default rounded-lg">Go</button>
        <button class="btn btn-default">JavaScript</button>
        <button class="btn btn-default rounded-lg">React</button>
        <button class="btn btn-default rounded-lg">React</button>
      </div>
    </div>

  </div>

  <!-- <footer class="footer">
    <ul class="footer-links">
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </footer> -->

</div>
