@import '~quill/dist/quill.bubble.css';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content-writing {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.editor-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.quill-editor {
  height: 400px;
  width: 100%;
  border: none;
  background-color: white;
}